{% extends 'flatpages/default.html' %}
{% load cache %}
{% block title %}
Post
{% endblock title %}

{% block content %}
{% cache 30 details %}
    <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата создания</td>
               <td>Текст</td>
           </tr>

           <tr>
               <td>{{ post.title }}</td>
               <td>{{ post.dateCreation|date:'d. M. Y' }}</td>
               <td>{{ post.text }}</td>
           </tr>

       </table>
{% endcache %}
{% endblock content %}